<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="event">
            <h2><span jhiTranslate="eCampusApp.event.detail.title">Event</span> {{event.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eCampusApp.event.title">Title</span></dt>
                <dd>
                    <span>{{event.title}}</span>
                </dd>
                <dt><span jhiTranslate="eCampusApp.event.desc">Desc</span></dt>
                <dd>
                    <span>{{event.desc}}</span>
                </dd>
                <dt><span jhiTranslate="eCampusApp.event.completionDate">Completion Date</span></dt>
                <dd>
                    <span>{{event.completionDate}}</span>
                </dd>
                <dt><span jhiTranslate="eCampusApp.event.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'eCampusApp.EventStatus.' + event.status}}">{{event.status}}</span>
                </dd>
                <dt><span jhiTranslate="userManagement.createdBy">Created By</span></dt>
                <dd>{{event.createdBy}}</dd>
                <dt><span jhiTranslate="userManagement.createdDate">Created Date</span></dt>
                <dd>{{event.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
                <dt><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
                <dd>{{event.lastModifiedBy}}</dd>
                <dt><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
                <dd>{{event.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
                <dt><span jhiTranslate="eCampusApp.event.type">Type</span></dt>
                <dd>
                    <div *ngIf="event.typeId">
                        <a [routerLink]="['/event-type', event.typeId, 'view']">{{event.typeName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eCampusApp.event.localisation">Localisation</span></dt>
                <dd>
                    <div *ngIf="event.localisationId">
                        <a [routerLink]="['/localisation', event.localisationId, 'view']">{{event.localisationName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eCampusApp.event.responsible">Responsible</span></dt>
                <dd>
                    {{event.responsibleLogin}}
                </dd>
                <dt><span jhiTranslate="eCampusApp.event.participants">Participants</span></dt>
                <dd>
                    <span *ngFor="let participants of event.participants; let last = last">
                        {{participants.login}}{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button" [routerLink]="['/event', event.id, 'edit']" class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
