<div>
  <h4><strong>Les évènements</strong></h4>
</div>

<cdk-virtual-scroll-viewport itemSize="10" class="demo-infinite-container">

  <nz-list>
    <nz-list-item class="itemList" [nzContent]="content" [nzNoFlex]="true" *cdkVirtualFor="let event of ds">

      <nz-skeleton *ngIf="!event" [nzAvatar]="true" [nzParagraph]="{ rows: 1 }">
        Il n'y a aucun évenements de planifier
      </nz-skeleton>



      <ng-template #content>

        <div nz-row [nzType]="flex" [nzJustify]="space-between">
          <div nz-col nzSpan="18">
            <h5 [routerLink]="['/event-type', event.typeId , 'view' ]"><strong>{{ event.title }}</strong></h5>
            <br>
            <a>{{ event.desc }}</a>
            <a>{{ event.participants.login}}</a>
          </div>

          <div nz-col nzSpan="6">
            <a >
              <img class="imageEvent" style="width: 100%; border-radius: 5px;" alt="logo" src="{{getImageUrl(event.responsibleLogin,event.imageUrl)}}" />
            </a>
          </div>
        </div>

        <hr>

        <div nz-row>
          <!-- <div nz-col [nzSpan]="12">
            <i nz-icon nzType="star-o" style="margin-right: 8px;"></i>
            <a style="margin-right: 8px;">69</a>
            <i nz-icon nzType="message" style="margin-right: 8px;"></i>
            <a style="margin-right: 8px;">69</a>
            <i nz-icon nzType="like-o" style="margin-right: 8px;"></i>
            <a style="margin-right: 8px;">69</a>
          </div> -->

          <div class="editeurEvent" nz-col [nzSpan]="24">
            <p> 
              Crée le <strong>{{ event.createdDate | date:'medium'  }}</strong> par <strong>{{ event.createdBy }}</strong> --- Dernière
              modification le <strong>{{ event.lastModifiedDate | date:'medium' }}</strong>
              par <strong>{{ event.lastModifiedBy }}</strong>
            </p>
          </div>
        </div>

      </ng-template>
    </nz-list-item>
  </nz-list>
</cdk-virtual-scroll-viewport>