<div class="row">
    <div class="col-md-3" [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="true" class="hipster img-fluid rounded"></div>
       <div *ngSwitchCase="false"><jhi-login-withoutlogin></jhi-login-withoutlogin></div>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}".
                </span>
            </div>

            <div *ngSwitchCase="false">
                <nz-list [nzDataSource]="publicEvent" [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
                    [nzLoading]="loadingPublic">
                    <ng-template #item let-item>
                        <nz-list-item [nzContent]="nzContent">
                            <ng-template #nzContent>
                                <p style="padding-right: 20px; margin-top: 15px;">{{getDate(item)}}<span
                                        jhiTranslate="home.DaysLeft"></span></p>
                            </ng-template>
                            <nz-list-item-meta [nzTitle]="nzTitle"
                                nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                                [nzDescription]="item.desc">
                                <ng-template #nzTitle>
                                    <a href="https://ng.ant.design">{{ item.title }}</a>
                                </ng-template>
                            </nz-list-item-meta>
                        </nz-list-item>
                    </ng-template>
                </nz-list>
            </div>
        </div>
    </div>
</div>
