<div class="row">
    <div class="col-md-3" [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="true" class="hipster img-fluid rounded"></div>
        <div *ngSwitchCase="false">
            <jhi-login-withoutlogin></jhi-login-withoutlogin>
        </div>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <p class="lead" jhiTranslate="home.subtitle.login">This is your homepage</p>
                <nz-list class="list" [nzDataSource]="publicAndPrivateEvent" [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
                [nzLoading]="loadingPublic">
                <ng-template #item let-item>
                    <nz-list-item [nzContent]="nzContent">
                        <ng-template #nzContent>
                            <p style="padding-right: 20px; margin-top: 15px;">{{getDate(item)}}<span
                                    jhiTranslate="home.DaysLeft"></span></p>
                        </ng-template>
                        <!-- Modifier lien nzAvatar-->
                        <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="getimageUrl(item)"
                            [nzDescription]="item.desc">
                            <ng-template #nzTitle>
                                <span>{{ item.title }}</span>
                            </ng-template>
                        </nz-list-item-meta>
                    </nz-list-item>
                </ng-template>
            </nz-list>
            </div>

            <div *ngSwitchCase="false">
                <p class="lead" jhiTranslate="home.subtitle.logout">This is your homepage</p>
                <nz-list class="list" [nzDataSource]="publicEvent" [nzRenderItem]="item" [nzItemLayout]="'horizontal'"
                    [nzLoading]="loadingPublic">
                    <ng-template #item let-item>
                        <nz-list-item [nzContent]="nzContent">
                            <ng-template #nzContent>
                                <p style="padding-right: 20px; margin-top: 15px;">{{getDate(item)}}<span
                                        jhiTranslate="home.DaysLeft"></span></p>
                            </ng-template>
                            <!-- Modifier lien nzAvatar-->
                            <nz-list-item-meta [nzTitle]="nzTitle" [nzAvatar]="getimageUrl(item)"
                                [nzDescription]="item.desc">
                                <ng-template #nzTitle>
                                    <span>{{ item.title }}</span>
                                </ng-template>
                            </nz-list-item-meta>
                        </nz-list-item>
                    </ng-template>
                </nz-list>
            </div>
        </div>
    </div>
</div>
