<nz-spin [nzSpinning]="isSaving">
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired><span jhiTranslate="eCampusApp.event.title">Title</span></nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <input nz-input formControlName="title" placeholder="" />
                <ng-template #userErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        <span jhiTranslate="entity.validation.required">Ce champ est obligatoire !</span>
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7"><span jhiTranslate="eCampusApp.event.desc">Description</span></nz-form-label>
            <nz-form-control [nzSpan]="12">
                <input nz-input formControlName="description" placeholder="" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7"><span jhiTranslate="eCampusApp.event.completionDate">Date</span></nz-form-label>
            <nz-form-control [nzSpan]="12">
                <nz-date-picker formControlName="date"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired><span jhiTranslate="eCampusApp.event.status">Status</span></nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <nz-select formControlName="status">
                    <nz-option nzValue="PRIVATE" nzLabel="{{'eCampusApp.EventStatus.PRIVATE' | translate}}"></nz-option>
                    <nz-option nzValue="PUBLIC" nzLabel="{{'eCampusApp.EventStatus.PUBLIC' | translate}}"></nz-option>
                </nz-select>
                <ng-template #userErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        <span jhiTranslate="entity.validation.required">Ce champ est obligatoire !</span>
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired><span jhiTranslate="eCampusApp.event.type">Type</span></nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <nz-select formControlName="type">
                    <nz-option *ngFor="let eventTypeOption of eventtypes; trackBy: trackById" [nzValue]="eventTypeOption.id" [nzLabel]="eventTypeOption.name"></nz-option>
                </nz-select>
                <ng-template #userErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        <span jhiTranslate="entity.validation.required">Ce champ est obligatoire !</span>
                    </ng-container>
                </ng-template>
            </nz-form-control>
            <div class="button-add" nzSpan="5">
                <button nz-button nzType="primary" (click)="addType()"><fa-icon [icon]="'plus'"></fa-icon></button>
            </div>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired><span jhiTranslate="eCampusApp.event.type">Type</span></nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <nz-select formControlName="localisation">
                    <nz-option *ngFor="let localisationOption of localisations; trackBy: trackById" [nzValue]="localisationOption.id" [nzLabel]="localisationOption.name"></nz-option>
                </nz-select>
                <ng-template #userErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        <span jhiTranslate="entity.validation.required">Ce champ est obligatoire !</span>
                    </ng-container>
                </ng-template>
            </nz-form-control>
            <div class="button-add" nzSpan="5">
                <button nz-button nzType="primary" (click)="addLocalisation()"><fa-icon [icon]="'plus'"></fa-icon></button>
            </div>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired><span jhiTranslate="eCampusApp.event.image">image</span></nz-form-label>
            <nz-form-control [nzSpan]="12">
                <button nz-button nzType="primary" (click)="changeImage()"><fa-icon [icon]="'exchange-alt'"></fa-icon>  <span jhiTranslate="eCampusApp.event.changeImage">Changer l'image</span></button>
            </nz-form-control>
            <p>
                <img class="imageEvent" alt="logo" src="{{getImageUrl(user.login,getUrl())}}" />
            </p>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzOffset]="6" [nzSpan]="12">
                <nz-button-group>
                    <button nz-button nzType="primary" [disabled]="!validateForm.valid || isSaving" (click)="submitForm()"><span jhiTranslate="entity.action.save">Submit</span>
                    </button><button nz-button nzType="default" (click)="resetForm($event)"><span jhiTranslate="entity.action.cancel">Reset</span></button>
                </nz-button-group>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-spin>
